doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js")
    script(src="app.js")
    script(src="app.routes.js")
    script(src="app/controllers/mainCtrl.js")
    script(src="app/controllers/userCtrl.js")
    base(href="/")

body(ng-app="averageApp" ng-controller="mainController as main")
  a(href="/users").
    users
  main
    div(ng-view)
