div.page-header.text-center
  h3 Editing User {{userCtrl.originalUser.username}}
  p Update your user information below

div.text-center
  form(ng-submit="userCtrl.submit()").centred-form
    div.form-group
      input(type="text" required placeholder="{{userCtrl.originalUser.username}}" ng-model="userCtrl.updatedUser.username" maxlength="30" value="{{userCtrl.originalUser.username}}").form-control
    div.form-group
      input(type="text" required placeholder="{{userCtrl.originalUser.firstname}}" ng-model="userCtrl.updatedUser.firstname" maxlength="30" value="{{userCtrl.originalUser.firstname}}").form-control
    div.form-group
      input(type="text" required placeholder="{{userCtrl.originalUser.lastname}}" ng-model="userCtrl.updatedUser.lastname" maxlength="30" value="{{userCtrl.originalUser.lastname}}").form-control
    div.form-group
      input(type="email" required placeholder="{{userCtrl.originalUser.email}}" ng-model="userCtrl.updatedUser.email" maxlength="30" value="{{userCtrl.originalUser.email}}").form-control
    button(type="submit").btn.btn-default.submit-button.
      Submit

  div(ng-model="userCtrl.success")
    {{userCtrl.success}}
