div.page-header.text-center
  h3 Create a new user

div.text-center
    form(ng-submit="userCtrl.submit()").centred-form
      div.form-group
        input(type="text" required placeholder="Username" ng-model="userCtrl.user.username").form-control
      div.form-group
        input(type="password" required placeholder="Password" ng-model="userCtrl.user.password").form-control
      button(type="submit").btn.btn-default.submit-button.
        Submit

  div(ng-model="userCtrl.success")
    {{userCtrl.success}}
