link(rel='stylesheet', href='/stylesheets/style.css')

div.page-header.text-center
  h3 Profile
  p View and edit your profile below

div.text-center
  table.table-condensed.prof-table
    tr
      td.text-left Username:
      td {{userCtrl.user.username}}
    tr
      td.text-left First name:
      td {{userCtrl.user.firstname}}
    tr
      td.text-left Last name:
      td {{userCtrl.user.lastname}}
    tr
      td.text-left Email:
      td {{userCtrl.user.email}}

  div(ng-controller="userDeleteController as userDeleteCtrl")
    button(ng-click="userDeleteCtrl.delete(userCtrl.user)").btn.btn-default.
      Delete
    a(ng-href="{{userCtrl.userEditUrl}}" role="button").btn.btn-default.
      Edit Profile
