div.text-center
h3 Profile
  div
    {{userCtrl.user.username}}
  div
    a(ng-href="{{userCtrl.userEditUrl}}" role="button").btn.btn-default.
      Edit
  div
    {{userCtrl.user.username}}
  div
    {{userCtrl.user.firstname}}
  div
    {{userCtrl.user.lastname}}
  div
    {{userCtrl.user.email}}
div(ng-controller="userDeleteController as userDeleteCtrl")
  button(ng-click="userDeleteCtrl.delete(userCtrl.user)").btn.btn-default.
    Delete
