div.page-header.text-center
  header.business-header
<<<<<<< HEAD
  h3 Welcome to Average Joe's Gym online!
  p Congratulations, your account has been successfully created.
=======
  h3 Welcome to Average Joe's
  p Congratulations, your account has been successfully created!
>>>>>>> 19eef9ea201bb7860a3b3287dadd0bfca80cd86a
