div.page-header.text-center
  h3 Login
  p Please enter your username and password to login

div.text-center
  form(ng-submit="sessionCtrl.login()").centred-form
    div.form-group
      input(type="text" required placeholder="Username" ng-model="sessionCtrl.username").form-control
    div.form-group
      input(type="password" required placeholder="Password" ng-model="sessionCtrl.password").form-control
    button(type="submit").btn.btn-default.
      Login
    a(href="/forgot/") Forgot?


  div(ng-model="sessionCtrl.message")
    a(href="/api/verify/resend/{{sessionCtrl.user.key}}", target='_blank')
      {{sessionCtrl.user.errormessage}}