div.page-header.text-center
  h3 Login

div.text-center
  div
    form(ng-submit="sessionCtrl.login()")
      div
        input(type="text" required placeholder="Username" ng-model="sessionCtrl.username")
      div
        input(type="password" required placeholder="Password" ng-model="sessionCtrl.password")
      div
        input(type="submit" value="Submit").btn.btn-default.submit-button

  div(ng-model="sessionCtrl.message")
    {{sessionCtrl.message}}
