header.business-header
  .container
.container
  hr
  .row
    .col-sm-4
      h2 Club Features    
      p
        | Our club has everything you need to achieve your fitness goals and passions.
        | Our facilities include:
        ul
          li 5 Tennis Courts
          li 1 Pool
          li 4 Squash Courts
          li 3 Workout rooms
          li 2 Spinning rooms
      p
        a.btn.btn-default.btn-lg(href='#') Book a Facility &raquo;
    .col-sm-4
      h2 Operating Hours   
      table.table-condensed
        tr
          td Sunday
          td 10am - 8pm 
        tr
          td Monday   
          td 8am - 12am
        tr
          td Tuesday     
          td 8am - 12am
        tr
          td Wednesday 
          td 8am - 12am
        tr
          td Thursday  
          td 8am - 12am
        tr
          td Friday
          td 8am - 12am
        tr
          td Saturday 
          td 8am - 12am
    .col-sm-4
      h2 Contact Us       
      address
        strong Average Joe's       
        br
        | 1975 Bee Street Victoria BC 
        br
        | Victora BC V8R 5E6        
        br
      address
        abbr(title='Phone') P:
        | (250) 595-7946  
        br      
        abbr(title='Email') E:
        a(href='mailto:#') info@averagejoes.ca
  hr
  .row
    .col-sm-4
      img.img-rounded.img-responsive.img-center(src='../../../../images/amenities.jpg', alt='')
      h2 Amenities      
      p
        | At Average Joe's club, we have everything you need to achieve your fitness goals and passions.      
    .col-sm-4
      img.img-rounded.img-responsive.img-center(src='../../../../images/personal_training.jpg', alt='')          
      h2 Personal Training
      p
        | Whether you’re getting started, training for a milestone, challenge or your own personal goals, we’ve got a Personal Training program that will work for you.
    .col-sm-4
      img.img-rounded.img-responsive.img-center(src='../../../../images/health_specialists.jpg', alt='')   
      h2 Health Specialists       
      p
        | We offer many services to ensure your physical and mental health are in peak condition.
  hr
  footer
    .row
      .col-lg-12
        p Copyright &copy; Average Joe's