header.business-header
.container
  hr
  .row
    .col-sm-4
      h2 Facilities
      p
        | Dropping in for a workout?  Challenging a friend on the court?
        | We've got you covered.  Our facilities include:
        ul
          li 5 Tennis courts
          li 1 Pool
          li 4 Squash courts
          li 3 Workout rooms
          li 2 Spinning rooms
      p
        a.btn.btn-default.btn-lg(href='#') Book a Facility &raquo;
    .col-sm-4
      h2 Operating Hours
      table.table-condensed
        tr
          td Sunday
          td 10am - 8pm
        tr
          td Monday
          td  8am - 12am
        tr
          td Tuesday
          td  8am - 12am
        tr
          td Wednesday
          td  8am - 12am
        tr
          td Thursday
          td  8am - 12am
        tr
          td Friday
          td  8am - 12am
        tr
          td Saturday
          td  8am - 12am
    .col-sm-4
      h2 Contact Us
      address
        strong Average Joe's Gym
        br
        | 1975 Bee Street
        br
        | Victoria, British Columbia
        br
        | V8R 5E6
        br
      address
        abbr(title='Phone') P:
        |  (250) 595-7946
        br
        abbr(title='Email') E:
        a(href='mailto:#')  info@averagejoes.ca
  hr
  .row
    .col-sm-4
      img.img-rounded.img-responsive.img-center(src='../../../../images/amenities.jpg', alt='')
      h2 Amenities
      p
        | At Average Joe's Gym, we have everything you need to achieve your fitness goals and passions.
    .col-sm-4
      img.img-rounded.img-responsive.img-center(src='../../../../images/personal_training.jpg', alt='')
      h2 Personal Training
      p
        | Whether you’re just getting started, or training to set a world record, our trainers will build a program to help you achieve your goals.
    .col-sm-4
      img.img-rounded.img-responsive.img-center(src='../../../../images/health_specialists.jpg', alt='')
      h2 Health Specialists
      p
        | We offer many services to ensure your physical and mental health are in peak condition.
  hr
  footer
    .row
      .col-lg-12
        p Copyright &copy; Average Joe's
